@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #22464d !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #22464d !important;
  border-color: #22464d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0b1618 !important;
  border-color: #0b1618 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0b1618 !important;
  border-color: #0b1618 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #030606;
  color: #030606;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #22464d;
  border-color: #22464d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #22464d !important;
  border-color: #22464d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #22464d !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #030606 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #22464d;
  border-color: #22464d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #22464d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #89c0cb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #22464d;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #22464d;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #22464d;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #22464d;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #22464d;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #22464d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #22464d;
  border-bottom-color: #22464d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #22464d !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.cid-rFasI9DVXW {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFasI9DVXW P {
  color: #767676;
}
.cid-rFasI9DVXW H1 {
  color: #ff3366;
}
.cid-rFasI9DVXW H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFasI9DVXW nav li a {
  text-transform: uppercase;
}
.cid-rFayaOsXFK {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ff3366;
}
.cid-rFayaOsXFK P {
  color: #767676;
}
.cid-rFayaOsXFK H3 {
  color: #efefef;
}
.cid-rEQINwIgxe {
  background-image: url("../../../assets/images/mbr-4-1920x1280.jpg");
}
.cid-rEQINwIgxe h1 {
  color: #616161;
}
.cid-rEQINwIgxe h2,
.cid-rEQINwIgxe h3,
.cid-rEQINwIgxe p {
  color: #767676;
}
.cid-rEQINwIgxe .mbr-section-subtitle {
  font-style: italic;
}
.cid-rEQINwIgxe H1 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
}
.cid-rEQINwIgxe .mbr-text,
.cid-rEQINwIgxe .mbr-section-btn {
  color: #798384;
}
.cid-rEQOKeuC34 {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rEQOKeuC34 P {
  color: #767676;
}
.cid-rEQOKeuC34 .list-sidebar li::before {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 0;
  content: 105;
  font-family: FontAwesome;
}
.cid-rEQOKeuC34 H5 {
  color: #ff3366;
}
.cid-rFcmjW1c4V {
  padding-top: 0px;
  padding-bottom: 60px;
}
.cid-rFcmjW1c4V .left {
  background-image: url("../../../assets/images/mbr-5-1920x1280.jpg");
}
.cid-rFcmjW1c4V P {
  color: #767676;
}
.cid-rFcmjW1c4V H1 {
  color: #ff3366;
  text-align: right;
}
.cid-rFcmjW1c4V .hoverlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.cid-rFgBgvHuVG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rFgBgvHuVG .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rFgBgvHuVG .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-rFgBgvHuVG .mbr-text {
  color: #767676;
}
.cid-rFgBgvHuVG H1 {
  color: #465052;
}
.cid-rEXVG2oift {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rEXVG2oift .card-img {
  background-color: #fff;
}
.cid-rEXVG2oift .card-box {
  padding: 2rem;
  background-color: #465052;
}
.cid-rEXVG2oift h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rEXVG2oift p {
  text-align: left;
}
.cid-rEXVG2oift .mbr-text {
  color: #767676;
}
.cid-rEXVG2oift .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rEXVG2oift .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rEXVG2oift .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rEXVG2oift .card-title {
  color: #efefef;
}
.cid-rEXVG2oift H1 {
  color: #465052;
}
.cid-rEXVb7Jlix {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rEXVb7Jlix [class^="socicon-"]:before,
.cid-rEXVb7Jlix [class*=" socicon-"]:before {
  line-height: 44px;
}
.cid-rEXVb7Jlix .btn-social {
  border-color: #22464d;
}
.cid-rEXVb7Jlix .btn-social:hover {
  background: #22464d;
}
.cid-rEXVb7Jlix .btn-social:hover i.socicon {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-rEXVb7Jlix .btn {
    font-size: 20px !important;
  }
}
.cid-rFhNBFVwe3 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c1c1c1;
}
.cid-rFhNBFVwe3 .mbr-section-subtitle {
  color: #767676;
}
.cid-rFhNBFVwe3 .formoid {
  margin: auto;
}
.cid-rFhNBFVwe3 .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rFhNBFVwe3 .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rFhNBFVwe3 a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rFhNBFVwe3 a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rFhNBFVwe3 .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rFhNBFVwe3 .form-group,
  .cid-rFhNBFVwe3 .input-group-btn,
  .cid-rFhNBFVwe3 .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rFhNBFVwe3 .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rFhNBFVwe3 H2 {
  color: #767676;
}
.cid-rFhNDex7by {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFhNDex7by P {
  color: #767676;
}
.cid-rFhNDex7by H1 {
  color: #ff3366;
}
.cid-rFhNDex7by H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFhNDex7by nav li a {
  text-transform: uppercase;
}
.cid-rFhNE4tLeb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f3638;
}
@media (max-width: 767px) {
  .cid-rFhNE4tLeb .content {
    text-align: center;
  }
  .cid-rFhNE4tLeb .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rFhNE4tLeb .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rFhNE4tLeb .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rFhNE4tLeb .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rFhNE4tLeb .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rFhNE4tLeb .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rFhNE4tLeb .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rFhNE4tLeb .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rFhNE4tLeb .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rFhNE4tLeb .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rFhNE4tLeb .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rFhNE4tLeb .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rFhNE4tLeb H2 {
  color: #efefef;
}
.cid-rFhNE4tLeb H3 {
  color: #efefef;
}
.cid-rFgH3Ci71C {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFgH3Ci71C P {
  color: #767676;
}
.cid-rFgH3Ci71C H1 {
  color: #ff3366;
}
.cid-rFgH3Ci71C H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFgH3Ci71C nav li a {
  text-transform: uppercase;
}
.cid-rFgIHxHWSR {
  padding-top: 60px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-3-1920x1280.jpg");
}
.cid-rFgIHxHWSR h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.cid-rFgIHxHWSR h3 {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.cid-rFgHmTfsRl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rFgHmTfsRl P {
  color: #767676;
}
.cid-rFgHmTfsRl .list-sidebar li::before {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 0;
  content: 105;
  font-family: FontAwesome;
}
.cid-rFgK9Nptxj {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rFgK9Nptxj .card-img {
  background-color: #fff;
}
.cid-rFgK9Nptxj .card-box {
  padding: 2rem;
  background-color: #465052;
}
.cid-rFgK9Nptxj h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rFgK9Nptxj p {
  text-align: left;
}
.cid-rFgK9Nptxj .mbr-text {
  color: #767676;
}
.cid-rFgK9Nptxj .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rFgK9Nptxj .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rFgK9Nptxj .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rFgK9Nptxj .card-title {
  color: #efefef;
}
.cid-rFgK9Nptxj H1 {
  color: #465052;
}
.cid-rFgJP7bmRz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c1c1c1;
}
.cid-rFgJP7bmRz .mbr-section-subtitle {
  color: #767676;
}
.cid-rFgJP7bmRz .formoid {
  margin: auto;
}
.cid-rFgJP7bmRz .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rFgJP7bmRz .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rFgJP7bmRz a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rFgJP7bmRz a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rFgJP7bmRz .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rFgJP7bmRz .form-group,
  .cid-rFgJP7bmRz .input-group-btn,
  .cid-rFgJP7bmRz .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rFgJP7bmRz .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rFgJP7bmRz H2 {
  color: #767676;
}
.cid-rFgJQc07PQ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFgJQc07PQ P {
  color: #767676;
}
.cid-rFgJQc07PQ H1 {
  color: #ff3366;
}
.cid-rFgJQc07PQ H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFgJQc07PQ nav li a {
  text-transform: uppercase;
}
.cid-rFhGMLZcf3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f3638;
}
@media (max-width: 767px) {
  .cid-rFhGMLZcf3 .content {
    text-align: center;
  }
  .cid-rFhGMLZcf3 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rFhGMLZcf3 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rFhGMLZcf3 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rFhGMLZcf3 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rFhGMLZcf3 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rFhGMLZcf3 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rFhGMLZcf3 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rFhGMLZcf3 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rFhGMLZcf3 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rFhGMLZcf3 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rFhGMLZcf3 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rFhGMLZcf3 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rFhGMLZcf3 H2 {
  color: #efefef;
}
.cid-rFhGMLZcf3 H3 {
  color: #efefef;
}
.cid-rFhFAcY6QF {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFhFAcY6QF P {
  color: #767676;
}
.cid-rFhFAcY6QF H1 {
  color: #ff3366;
}
.cid-rFhFAcY6QF H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFhFAcY6QF nav li a {
  text-transform: uppercase;
}
.cid-rFk1yUKyMn {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFk1yUKyMn P {
  color: #232323;
}
.cid-rFk1yUKyMn H1 {
  text-align: left;
}
.cid-rFk1yUKyMn .mbr-text,
.cid-rFk1yUKyMn .mbr-section-btn {
  text-align: left;
}
.cid-rFhFQBuEEt {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rFhFQBuEEt P {
  color: #232323;
}
.cid-rFhFQBuEEt .sidebar ul {
  list-style: none;
  padding: 0;
}
.cid-rFhFQBuEEt .sidebar {
  padding-left: 1.5rem;
}
.cid-rFhFQBuEEt .post-meta-date {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: block;
  color: #e73965;
}
.cid-rFhFQBuEEt .ul-post-meta {
  padding: 0;
  list-style: none;
  margin: 0;
}
.cid-rFhFQBuEEt .ul-post-meta li {
  float: left;
  margin-right: .5rem;
}
.cid-rFhFQBuEEt .ul-post-meta li a {
  text-decoration: underline;
}
.cid-rFhFQBuEEt .meta-sub {
  display: inline-block;
  vertical-align: top;
}
.cid-rFhFQBuEEt .post-meta {
  margin-bottom: 1rem;
}
.cid-rFhFQBuEEt .author-card {
  margin-right: 1rem;
}
.cid-rFhFQBuEEt .blog-entry {
  margin-top: 4rem;
}
.cid-rFhFQBuEEt .read-more {
  margin-top: -1rem;
  display: block;
}
.cid-rFhFQBuEEt .sidebar-top {
  display: block;
  height: 4rem;
}
.cid-rFhFQBuEEt .form-control {
  border: 1px solid #ccc;
}
.cid-rFhFQBuEEt H1 {
  text-align: left;
}
.cid-rFhG6wVSOq {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rFhG6wVSOq .card-img {
  background-color: #fff;
}
.cid-rFhG6wVSOq .card-box {
  padding: 2rem;
  background-color: #465052;
}
.cid-rFhG6wVSOq h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rFhG6wVSOq p {
  text-align: left;
}
.cid-rFhG6wVSOq .mbr-text {
  color: #767676;
}
.cid-rFhG6wVSOq .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rFhG6wVSOq .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rFhG6wVSOq .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rFhG6wVSOq .card-title {
  color: #efefef;
}
.cid-rFhG6wVSOq H1 {
  color: #465052;
}
.cid-rFhKb7YgVY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c1c1c1;
}
.cid-rFhKb7YgVY .mbr-section-subtitle {
  color: #767676;
}
.cid-rFhKb7YgVY .formoid {
  margin: auto;
}
.cid-rFhKb7YgVY .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rFhKb7YgVY .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rFhKb7YgVY a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rFhKb7YgVY a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rFhKb7YgVY .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rFhKb7YgVY .form-group,
  .cid-rFhKb7YgVY .input-group-btn,
  .cid-rFhKb7YgVY .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rFhKb7YgVY .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rFhKb7YgVY H2 {
  color: #767676;
}
.cid-rFhK5SSycJ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFhK5SSycJ P {
  color: #767676;
}
.cid-rFhK5SSycJ H1 {
  color: #ff3366;
}
.cid-rFhK5SSycJ H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFhK5SSycJ nav li a {
  text-transform: uppercase;
}
.cid-rFhK77dzY0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f3638;
}
@media (max-width: 767px) {
  .cid-rFhK77dzY0 .content {
    text-align: center;
  }
  .cid-rFhK77dzY0 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rFhK77dzY0 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rFhK77dzY0 .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rFhK77dzY0 .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rFhK77dzY0 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rFhK77dzY0 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rFhK77dzY0 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rFhK77dzY0 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rFhK77dzY0 .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rFhK77dzY0 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rFhK77dzY0 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rFhK77dzY0 .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rFhK77dzY0 H2 {
  color: #efefef;
}
.cid-rFhK77dzY0 H3 {
  color: #efefef;
}
.cid-rFhLeoJtm5 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFhLeoJtm5 P {
  color: #767676;
}
.cid-rFhLeoJtm5 H1 {
  color: #ff3366;
}
.cid-rFhLeoJtm5 H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFhLeoJtm5 nav li a {
  text-transform: uppercase;
}
.cid-rFhLumAo0r {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-rFhLumAo0r P {
  color: #767676;
}
.cid-rFhLIB2ZW8 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rFhLIB2ZW8 .title {
  padding-bottom: 2.5rem;
}
.cid-rFhLIB2ZW8 .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 0.5rem;
}
.cid-rFhLIB2ZW8 .iconfont-wrapper {
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
.cid-rFhLIB2ZW8 .iconfont-wrapper .amp-iconfont {
  font-size: 2rem;
}
.cid-rFhLIB2ZW8 .wrapper {
  display: flex;
  padding: 1rem 0;
}
.cid-rFhLIB2ZW8 .wrapper .b-info {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rFhLIB2ZW8 .iconfont-wrapper {
    display: none;
  }
}
.cid-rFjXgzSP3v {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rFjXgzSP3v .title {
  margin-bottom: 2rem;
}
.cid-rFjXgzSP3v .mbr-section-subtitle {
  color: #232323;
}
.cid-rFjXgzSP3v a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rFjXgzSP3v a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rFjXgzSP3v textarea.form-control {
  min-height: 188px;
}
.cid-rFjXgzSP3v H1 {
  color: #3dccfc;
}
.cid-rFjXgzSP3v .form-control {
  border: 1px solid #ccc;
}
.cid-rFhNoj7w9u {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #c1c1c1;
}
.cid-rFhNoj7w9u .mbr-section-subtitle {
  color: #767676;
}
.cid-rFhNoj7w9u .formoid {
  margin: auto;
}
.cid-rFhNoj7w9u .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-rFhNoj7w9u .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 !important;
}
.cid-rFhNoj7w9u a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rFhNoj7w9u a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
@media (max-width: 768px) {
  .cid-rFhNoj7w9u .mbr-form .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rFhNoj7w9u .form-group,
  .cid-rFhNoj7w9u .input-group-btn,
  .cid-rFhNoj7w9u .input-group-btn .btn {
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .cid-rFhNoj7w9u .mbr-form .row > * {
    padding: 0 0.5rem;
  }
}
.cid-rFhNoj7w9u H2 {
  color: #767676;
}
.cid-rFhNgJgbPg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-rFhNgJgbPg P {
  color: #767676;
}
.cid-rFhNgJgbPg H1 {
  color: #ff3366;
}
.cid-rFhNgJgbPg H3 {
  color: #ffffff;
  text-align: left;
}
.cid-rFhNgJgbPg nav li a {
  text-transform: uppercase;
}
.cid-rFhNhyXZqw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f3638;
}
@media (max-width: 767px) {
  .cid-rFhNhyXZqw .content {
    text-align: center;
  }
  .cid-rFhNhyXZqw .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rFhNhyXZqw .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rFhNhyXZqw .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rFhNhyXZqw .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rFhNhyXZqw .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rFhNhyXZqw .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rFhNhyXZqw .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rFhNhyXZqw .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rFhNhyXZqw .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rFhNhyXZqw .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rFhNhyXZqw .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rFhNhyXZqw .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rFhNhyXZqw H2 {
  color: #efefef;
}
.cid-rFhNhyXZqw H3 {
  color: #efefef;
}
